.wrap {
  display: inline-flex;
  margin: 20px 0 50px 0;
  position: relative;
}

.btn {
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
}

.btn span {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #000;
  margin-bottom: 3px;
}

.btn span:last-child {
  margin-bottom: 0;
}

.nav_list {
  margin-left: 20px;
  position: absolute;
  left: -220px;
  display: flex;
  transition: all 0.3s linear;
}

.nav_list.active {
  left: 0;
}

.nav_link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
  transition: all 0.3s linear;
}

.nav_link.active {
  color: #fff;
}
